page-loggedin {
    .innerMessages {
        display: inline-block;
        padding: 5px 10px;
        margin: 5px;
        max-width: 80%;
        
    }
    .username {
        color: #888;
        font-weight: bold;
        font-size: 88%;
    }

    .messageContent {
        font-size: 120%;
        color: white;
        padding: 5px 15px;
        margin: 5px 0;
        width: auto;
        border-radius: 3px;
        background: color($colors, primary);
    }
    .footerBox {
        display: flex;
    }
    .footerBox button {
        border-radius: 0;
        margin: 0;
    }
    .innerMessages.messageRight .messageContent {
        background: color($colors, secondary);
    }
    .message-warp:after {
        content: '';
        display: block;
        clear: both;
    }
    .messageLeft {
        float: left;
    }
    .messageRight {
        float: right;
    }
   
    .triangle-right, .triangle-left {
        position: relative;
    }
    .triangle-right::before, .triangle-right::after {
        content: '';
        position: absolute;
        width: 0px;
        height: 0px;
        border: 8px solid color($colors, secondary);
        border-color: transparent transparent transparent color($colors, secondary);
        border-style: dashed dashed dashed solid;
        right: -14px;
        top: 10%;
        transform: rotate(-15deg) 
    }
    .triangle-left::before, .triangle-left::after {
        content: '';
        position: absolute;
        width: 0px;
        height: 0px;
        border: 8px solid color($colors, primary);
        border-color: transparent color($colors, primary) transparent transparent;
        border-style: dashed solid dashed dashed;
        left: -14px;
        top: 10%;
        transform: rotate(15deg)
    }

    .message-img {
        position: absolute;
        border-radius: 50%;
        width: 45px;
        height: 45px;
        box-shadow: 0 0 2px rgba(0, 0, 0, 0.36);
        display: flex;
        justify-content: center;
        align-items: center;
    }
    .innerMessages.messageLeft .message-img {
        left: 10px;
    }
    .innerMessages.messageRight .message-img {
        right: 10px;
    }
    .innerMessages.messageLeft .message-detail, .innerMessages.messageLeft .username {
        padding-left: 35px;
    }
    .innerMessages.messageRight .message-detail, .innerMessages.messageRight .username {
        padding-right: 35px;
    }

    // 进入房间的提示信息 start
    .message-warp.special .innerMessages {
        max-width: 100%;
        width: 100%;
        position: relative;
    }

    .message-warp.special .innerMessages .message-detail {
        padding-left: 0;
        padding-right: 0;
        text-align: center;
    }
    .message-warp.special .messageContent {
        background: white;
        color: #888;
        font-size: 80%;
        float: none;
        padding: 0 10px;
        display: inline-block;
    }

    .message-warp.special .innerMessages:before {
        content: '';
        position: absolute;
        top: 50%;
        left: 0;
        display: block;
        height: 1px;
        width: 100%;
        background: #F1F2F3;
        z-index: -1;
    }
    // 进入房间的提示信息 end

}
